.vagas {
  padding: 0px 10px 10px 10px;
}
.title {
  padding-left: 10px;
}
.btn-primary2 {
  border-color: #63d8f1;
  background-color: #63d8f1;
  color: #ffffff;
  width: 100%;
  margin-top: 3px;
}
