.pdf {
   width: 80%;
   margin-left: 60px;
}
h1{
    color: #000000;
}
h2{
    color: #000000;
    font-size: 24px;
}
.dados{
    font-size: 16px;
    color: #000000;
}
.texto{
    color: #000000;
    font-size: 16px;
}