
.form-title{
    text-align: center;
    background-color: #244E98;
	color: #ffff;
	
}

.Form-title{
    text-align: center;
    background-color: #3498DB;
	color: #ffff;
	
}
.titulo{

    text-align:center;
}
.recuo{
    text-indent: 4em;
    text-align: justify;
}
