.restrito {
  text-align: center;
  color: #000000;
  font-weight: bold;
}
.bg-gradient-primary {
  background-color: #4e73df;
  background-image: linear-gradient(180deg, #b5dfd8 10%, #adcfff 100%);
  background-size: cover;
}
