@charset "utf-8";
/* CSS Document */

h3 {
	
	text-align: left;
	color:  #000000;
}
.cont-title{
	
	text-align: center;
	color: #000000;
	background-color: #EFF1C3;
}
#text-cont{
	text-align: center;
}
