/* SERVIÇO SAUDE CONTEUDO */

.form-title{
    text-align: center;
    background-color: #244E98;
    color: #ffff;
}
.Form-title{
    text-align: center;
    background-color: #3194E7;
    color: #ffff;
}
