@charset "utf-8";
/* CSS Document */

.panel-vagas h4{
	
	color: #FF8C69;
	font-size: 20px;
	
}
.panel-vagas span{
	
	color: #000000;
	font-size: 16px;
	
}

.panel-vagas-border{
	
	background-color: #FFF
	
	
}

.dados-align{
	
	background-color: #FFF;
	text-align: center;
}
